{% extends "base/menu.html" %}
{% load static %}

{% block title %} Lmao {% endblock %}

{% block content %}
    <section class="p-4">
        {% for obj in queryset %}
            <a href="/trip_offer/{{obj.id}}/">
                <div class="p-4">
                    <div class="max-w-md mx-auto rounded-xl shadow-md overflow-hidden md:max-w-2xl bg-indigo-900 p-2">
                        <div class="md:flex">
                            <div class="md:shrink-0">
                                <img style="max-width: 250px;" src="{{ obj.planet.multimedia.url }}">
                            </div>
                            <div class="p-8">
                                <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{obj.planet.name}}</div>
                                <p class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{obj.date_start}} to {{obj.date_end}}</p>
                                <p class="mt-2 text-slate-500">{{obj.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </section>
{% endblock %}